# Visual Studio Code
.vscode/

# Carpeta binaria generada por Visual Studio
bin/

# Carpeta obj generada por Visual Studio
obj/

# Archivos de usuario de Visual Studio
*.user

# Archivos de respaldo
*~

# Archivos temporales
temp/
